html{
	min-height:100%;
}

body{
	margin:0;
	padding:0;
	min-height:100%;
	font-family: 'Open Sans', sans-serif;
}

div#controller{
	position:fixed;
	bottom:10%;
	right:10%;
}

div#controller a{
	display:block;
	width:44px;
	height:44px;
	background:#ffffff;
}

div#controller a:hover{
	background:#cccccc;
	transition: background 1s;
	-webkit-transition: background 1s;
}

div.section{
	overflow:hidden;
}

div.section>img{
	position:relative;
}

div.section canvas,div.section>div.description{
	position:absolute;
}

div.section>div.description_bg{
	
}

div.section>div.description{
	top:400px;
	color:#36a9e1;
	width:100%;
}

div.section>div.description>h1{
	font-weight:lighter;
	margin-bottom:10px;
	margin-left:40px;
	margin-right:40px;
	margin-top:10px;
}

div.section>div.description>h2{
	margin-top:10px;
	font-weight:lighter;
	margin-left:40px;
	margin-right:40px;
	
}

div.section>div.description>p{
	font-weight:lighter;
	line-height:120%;
	margin-left:40px;
	margin-right:40px;
	margin-bottom:10px;
}

canvas.case-blur_canvas{
	position:absolute;
}

div.case-section{
	position:relative;
	overflow:hidden;
}

div.case-section>img.case-bg{
	position:relative;
	
}

div.case-section>div.case-description{
	position:absolute;
	top:100px;
	color:#36a9e1;
	width:100%;
}

div.case-section>div.case-description>h1{
	font-weight:lighter;
	margin-bottom:10px;
	margin-left:40px;
	margin-right:40px;
	margin-top:10px;
}

div.case-section>div.case-description>p{
	font-weight:lighter;
	line-height:120%;
	margin-left:40px;
	margin-right:40px;
	margin-bottom:10px;
}