@charset "utf-8";
/* CSS Document */
#showroom{
	width:50px;
	height:50px;
	overflow:hidden;
	position:absolute;
	background:#FFF;
	padding:10px 10px 0 10px;
	z-index:1011;
}

.loading{
	position:absolute;
	left:0px;
	top:0px;
	background:url(images/loading.gif) center no-repeat;
	width:100%;
	height:100%
}

#bigbox{
	background:url(images/alphabg.png) repeat;
	width:100%;
	height:100px;
	position:absolute;
	top:0px;
	left:0px;
	overflow:hidden;
	z-index:1010;
}

body{
	margin:0;
	padding:0;
	width:100%;
	background:#000;
}

div{
	font-family:Verdana, Geneva, sans-serif;
	color:#666;
}

#main{
	width:800px;
	min-height:400px;
	background:url(images/bg.png) #000;
	margin:0 auto;
	position:relative;
}

.item{
	width:100px;
	height:100px;
	display:none;
	position:absolute;
}

.item a{
	border:none;
	background:#333;
	display:block;
	width:96px;
	position:absolute;
	height:96px;
	overflow:hidden;
	margin:2px;
}

.item a:hover{
	background:#9C0;
	background-color:#0FF
}

.item img{
	border:none;
	position:absolute;
}

#category{
	width:800px;
	height:240px;
	overflow:hidden;
	top:242px;
	left:0px;
}

.category_unit{
	font-size:16px;
	padding:40px 0 0 0;
	width:100px;
	height:60px;
}

#works{
	width:800px;
	height:auto;
	overflow:hidden;
	left:0px;
	top:0px;
}

#links{
	width:800px;
	height:30px;
	overflow:hidden;
	left:0;
	margin-top:10px;
}

a#linkedin{
	display:block;
	width:22px;
	height:20px;
	background:url("images/linkedin.png") no-repeat;
	text-decoration:none;
	border:none;
	float:right;
}

a#linkedin:hover{
	background:url("images/linkedin_hover.png") no-repeat;
}

#footer, #timeline_me{
	width:800px;
	height:200px;
	overflow:hidden;
	left:0px;
	margin-top:-200px;
	padding-bottom:50px;
	position:relative;
}

div.colorme{
	width:800px;
	height:200px;
	overflow:hidden;
	position:absolute;
	left:0px;
	top:0px;
	background-position:center right;
	background-repeat:no-repeat;
	-webkit-mask-repeat:no-repeat;
	-webkit-mask-image:url(../image/mask.png);
	-webkit-mask-position:30% 20%;
	-webkit-mask-size:200px;
}

div.monochrome{
	width:800px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
	background:url(images/me-2.png) no-repeat center center;
}

div#timeline_me>div.monochrome{
	background:url(images/me-2_colour.png) no-repeat right;
}

#category>div.skill{
	z-index:100;
	overflow:hidden;
}

#category>div.skill>div.description{
	/* description for each skill */
	width:100%;
	height:100px;
	position:absolute;
	left:0px;
	display:none;
}

#category div.description>span{
	display:block;
	height:100px;
	width:100%;
	padding:20px;
}

#category>div.skill>div>.talk{
	margin-top:10px;
}

#aboutme{
	position:absolute;
	left:0px;
	width:131px;
	height:115px;
	display:none;
	background:#B25538;
	overflow:hidden;
}

#aboutme>a{
	background:#B25538;
	color:#DAD7C5;
	font-size:14px;
	display:block;
	text-decoration:none;
	border:none;
	width:122px;
	height:48px;
	padding:12px 0 0 9px;
}

#aboutme>a:hover{
	color:#F4F1E6;
}

#aboutme_des>span{
	background:#B25538;
	color:#DAD7C5;
}

div#aboutme_des .talk{
	margin-left:10px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 20px 18px 10px;
	border-color: transparent transparent #b25438 transparent;
	line-height: 0px;
	_border-color: #000000 #000000 #b25438 #000000;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

div#aboutme_des a{
	color:#DAD7C5;
}

div#aboutme_des a:hover{
	color:#F4F1E6;
}

#prototype{
	background:#FEE361;
	position:absolute;
	left:138px;
	height:115px;
	width:177px;
	display:none;
}

#prototype>a{
	background:#FEE361;
	color:#5C7782;
	font-size:14px;
	display:block;
	text-decoration:none;
	border:none;
	width:144px;
	height:48px;
	padding:12px 0 0 33px;
}

#prototype>a:hover{
	color:#4B6671;
}

#prototype_des>span{
	background:#FEE361;
	color:#5C7782;
}

div#prototype_des .talk{
	margin-left:148px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 20px 18px 10px;
	border-color: transparent transparent #FEE361 transparent;
	line-height: 0px;
	_border-color: #000000 #000000 #FEE361 #000000;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

#usability{
	background:#7C5F53;
	position:absolute;
	left:322px;
	height:115px;
	width:144px;
	display:none;
}

#usability>a{
	background:#7C5F53;
	color:#CC8683;
	font-size:14px;
	display:block;
	text-decoration:none;
	border:none;
	width:127px;
	height:48px;
	padding:12px 0 0 17px;
}

#usability>a:hover{
	color:#BB7572;
}

#usability_des>span{
	background:#7C5F53;
	color:#CC8683;
}

div#usability_des .talk{
	margin-left:332px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 20px 18px 10px;
	border-color: transparent transparent #7C5F53 transparent;
	line-height: 0px;
	_border-color: #000000 #000000 #7C5F53 #000000;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

#techart{
	position:absolute;
	left:472px;
	background:#CC8683;
	height:115px;
	width:109px;
	display:none;
}

#techart>a{
	background:#CC8683;
	color:#fff;
	font-size:14px;
	display:block;
	text-decoration:none;
	border:none;
	width:94px;
	height:48px;
	padding:12px 0 0 15px;
}

#techart>a:hover{
	color:#eeeeee;
}

#techart_des>span{
	background:#CC8683;
	color:#fff;
}

div#techart_des .talk{
	margin-left:482px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 20px 18px 10px;
	border-color: transparent transparent #CC8683 transparent;
	line-height: 0px;
	_border-color: #000000 #000000 #CC8683 #000000;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

#web{
	position:absolute;
	left:587px;
	background:#BBA795;
	height:115px;
	width:154px;
	display:none;
}

#web>a{
	background:#BBA795;
	color:#C35B26;
	font-size:14px;
	display:block;
	text-decoration:none;
	border:none;
	width:109px;
	height:48px;
	padding:12px 0 0 45px;
}

#web>a:hover{
	color:#B24A15;
}

#web_des>span{
	background:#BBA795;
	color:#C35B26;
}

div#web_des .talk{
	margin-left:597px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 20px 18px 10px;
	border-color: transparent transparent #BBA795 transparent;
	line-height: 0px;
	_border-color: #000000 #000000 #BBA795 #000000;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

#mail{
	position:absolute;
	left:748px;
	width:52px;
	height:115px;
	display:none;
	background:#C6CDC7;
	overflow:hidden;
}

#mail>a{
	background:#C6CDC7;
	color:#0A3542;
	font-size:14px;
	display:block;
	width:42px;
	height:48px;
	text-decoration:none;
	border:none;
	padding:12px 0 0 10px;
}

#mail>a:hover{
	color:#3FA4BC;
}

#mail_des>span{	
	background:#C6CDC7;
	color:#0A3542;
}

div#mail_des .talk{
	margin-left:758px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 20px 18px 10px;
	border-color: transparent transparent #C6CDC7 transparent;
	line-height: 0px;
	_border-color: #000000 #000000 #C6CDC7 #000000;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

div#mail_des a{
	color:#0A3542;
}

div#mail_des a:hover{
	color:#3FA4BC;
}











#bubble{
	position:absolute;
	background:#ccc;
	font-size:12px;
	color:#333;
	max-width:200px;
	width:auto;
	height:auto;
	padding:3px 5px;
}



#prototype_group{
	text-shadow:0px 0px 5px #d9d9d9;
	font-size:14px;
	padding:20px;
	color:#5C7782;
	position:absolute;
	height:60px;
	width:760px;
	display:none;
}

.group_bg{
	width:100%;
	height:100%;
	opacity:0.8;
	position:absolute;
	top:0;
	left:0;
	z-index:100;
}

#prototype_group .group_bg{
	background:#FEE361;
}

.group_text{
	position:absolute;
	z-index:1001;
	display:none;
	top:80px;
	left:40px;
	margin-right:40px;
}

#usability_group{
	position:absolute;
	font-size:14px;
	padding:10px;
	color:#CC8683;
	height:80px;
	width:180px;
	display:none;
	top:100px;
}

#usability_group .group_bg{
	background:#7C5F53;
	opacity:0.8;
}

#techart_group{
	text-shadow:0px 0px 5px #d9d9d9;
	position:absolute;
	font-size:14px;
	padding:5px;
	color:#FFF;
	position:absolute;
	height:90px;
	width:390px;
	display:none;
	top:100px;
	left:200px;
}

#techart_group .group_bg{
	background:#CC8683;
}

#web_group{
	text-shadow:0px 0px 5px #d9d9d9;
	position:absolute;
	font-size:14px;
	padding:5px;
	color:#C35B26;
	position:absolute;
	height:90px;
	width:190px;
	display:none;
	top:100px;
	left:600px;
}

#web_group .group_bg{
	background:#BBA795;
}

a#banner_toCV{
	display:block;
	position:absolute;
	height:100%;
	width:80px;
	top:0;
	right:0;
	font-size:16px;
	color:#e30613;
	transition:all 0.3s;
	-moz-transition:all 0.3s;
	-webkit-transition:all 0.3s;
	-o-transition:all 0.3s;
	font-family:Verdana, Geneva, sans-serif;
	text-decoration:none;
}

a#banner_toCV:hover{
	color:#00983a;
}

a#banner_toCV span{
	transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	transform-origin:center;
	-webkit-transform-origin:center;
	-o-transform-origin:center;
	-ms-transform-origin:center;
	-moz-transform-origin:center;
	display:block;
	width:auto;
	height:30px;
	margin-top:40px;
	text-align:right;
}

a#link_toCV{
	display:block;
	width:70px;
	height:70px;
	background:#FFF;
	text-decoration:none;
	border:none;
	position:absolute;
	right:0;
	top:200px;
	transition:all 0.3s;
	-moz-transition:all 0.3s;
	-webkit-transition:all 0.3s;
	-o-transition:all 0.3s;
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
	color:#e30613;
}

a#link_toCV:hover{
	-webkit-box-shadow:inset 0px 0px 5px 5px rgba(150, 150, 150, 0.2);
	-moz-box-shadow:inset 0px 0px 5px 5px rgba(150, 150, 150, 0.2);
	box-shadow:inset 0px 0px 5px 5px rgba(150, 150, 150, 0.2);
	color:#00983a;
}

a#link_toCV span{
	display:block;
	width:60px;
	height:30px;
	margin-top:20px;
	text-align:right;
}



canvas#banner{
	position:absolute;
	top:0;
	right:0;
	
}

div#cate_description{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:115px;
	overflow:hidden;
	display:block;
}

div#cate_description>div{
	position:absolute;
	top:30px;
	left:0px;
}



div#html5_banner{
	background:#fff no-repeat;
	position:absolute;
	width:100%;
	height:22px;
	font-size:12px;
	color:#111;
	padding-top:8px;
	top:0;
	left:0;
	text-align:center;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

div#html5_banner a{
	color:#333;
	text-decoration:none;
}

div#html5_banner a:hover{
	color:#111;
	text-decoration:underline;
}

a#close_banner{
	background:url("../image/close_b.png") no-repeat center center;
	width:30px;
	height:30px;
	display:block;
	position:absolute;
	top:0;
	left:30px;
}

div.case_des a{
	color:#999;
	text-decoration:none;
	border:none;
	transition:all 0.5s;
	-moz-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-o-transition:all 0.5s;
}

div.case_des a:hover{
	color:#111;
}


/* timeline section */ 
div#timeline_box{
	width:100%;
	background:#fff;
	min-height:400px;
	
}

.big_arrow{
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 50px 200px 0 200px;
	border-color: #000000 transparent transparent transparent;
	line-height: 0px;
	_border-color: #000000 #ffffff #ffffff #ffffff;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#ffffff');
}

div#timeline_main{
	width:800px;
	min-height:400px;
	position:relative;
	margin:0 auto;
}

div#timeline_main>.hint{
	color:#fff;
	font-size:4em;
	margin-top:-60px;
	width:100%;
	text-align:center;
	font-weight:bolder;
}

div#timeline{
	min-height:600px;
	width:100%;
	position:relative;
	overflow:hidden;
}

div#timeline>div.clip{
	z-index:100;
	position:absolute;
	min-height:100px;
	background-color:transparent;
	overflow:hidden;
}

div#timeline a.summary{	
	text-decoration:none;
	border:none;
	display:block;
	color:#fff;
	transition:all 0.5s;
	-moz-transition:all 0.5s;
	-o-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	opacity:0.8;
	height:227px;
	position:relative;
}

div#timeline a.summary h3{
	font-size:14px;
	font-weight:bold;
	margin:0;
	padding:0 0 7px 0;
}

div#timeline a.summary h4{
	font-size:14px;
	font-weight:bold;
	margin:0;
}

div#timeline a.summary p{
	font-size:14px;
	margin:0;
}

div#timeline a.summary:hover{
	opacity:1;
}

div#timeline .detail{
	display:none;
	position:absolute;
	left:0;
	padding:20px;
	color:#fff;
	width:760px;
}

div.summary_text{
	color:#fff;
}



#born_box{
	width:103px;
}

a#born>.summary_text{
	width:78px;
	height:103px;
	background:#00983a;
	padding-top:56px;
	padding-left:25px;
}

a#born>.summary_time{
	
}

#born_box>.detail{
	background:#00983a;
}

#bs_box{
	width:132px;
}

a#bs>.summary_text{
	width:115px;
	height:107px;
	background:#ea5b0c;
	padding-top:52px;
	padding-left:17px;
}

a#bs>.summary_time{
	
}

#bs_box>.detail{
	background:#ea5b0c;
}

#ms_box{
	width:98px;
}

a#ms>.summary_text{
	width:88px;
	height:107px;
	background:#e30613;
	padding-top:52px;
	padding-left:10px;
}

a#ms>.summary_time{
	
}

#ms_box>.detail{
	background:#e30613;
}

#army_box{
	width:52px;
}

a#army>.summary_text{
	width:52px;
	height:159px;
	background:#00983a;
}

a#army>.summary_time{
	
}

#army_box>.detail{
	background:#00983a;
}

#ctci_box{
	width:41px;
}

a#ctci>.summary_text{
	width:41px;
	height:159px;
	background:#273488;
}

a#ctci>.summary_time{
	
}

#ctci_box>.detail{
	background:#273488;
}

#katdc_box{
	width:131px;
}

a#katdc>.summary_text{
	width:120px;
	height:118px;
	background:#82368c;
	padding-top:41px;
	padding-left:11px;
}

a#katdc>.summary_time{
	
}

#katdc_box>.detail{
	background:#82368c;
}

#pf_intern_box{
	width:112px;
}

a#pf_intern>.summary_text{
	width:101px;
	height:118px;
	background:#00983a;
	padding-top:41px;
	padding-left:11px;
}

a#pf_intern>.summary_time{
	
}

#pf_intern_box>.detail{
	background:#00983a;
}

#pf_box{
	width:132px;
}

a#pf>.summary_text{
	width:121px;
	height:118px;
	background:#ea5b0c;
	padding-top:41px;
	padding-left:11px;
}

a#pf>.summary_time{
	
}

#pf_box>.detail{
	background:#ea5b0c;
}

/* TODO: style the spot */
.spot{
	display:none;
}