body{
  
  font-family: "Verdana", sans-serif;
  position:relative;
  font-size:12px;
  background-color:black;
  
}

div.bgbox{
  width:100%;
  height:100%;
  background:url(../images/sample.png) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:fixed;
  top:0;
}

img.appicon{
  border-radius: 26px;
  width:120px;
  height:120px;
}

div.bigbox{
  position: fixed;
  width:100%;
  bottom:0;
  padding-top:40px;
  background:rgba(0,0,0,0.4);
}

div.containerbox{
  position: relative;
  width: 600px;
  margin:0 auto;

}

h1{
  font-weight: bold;
  font-size: 3.4em;
  color: rgba(255,255,255,0.9);
  margin-top:0px;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

p{
  margin-bottom: 20px;
}

.t1{
  /* Type something: */
  font-size: 1.3em;
  color: rgba(255,255,255,0.64);
}

.t2{
  /* Great Moment: */
  font-weight: bold;
  font-size: 1.7em;
  color: rgba(255,255,255,0.8);
  line-height: 44px;

}

div.row1{

}

div.row2{

}

span#and{
  margin-left:0.7em;
  margin-right:0.5em;
  float:left;
  padding-top: 19px;
}

span.scene{
  padding-left:68px;
  padding-top:8px;
  background:url(../images/icon_scene.png) no-repeat center left;
  height: 60px;
  display: block;
  float: left;
}

span.ambience{
  padding-left:68px;
  padding-top:8px;
  background:url(../images/icon_wave.png) no-repeat center left;
  height: 60px;
  display: block;
  float: left;
}

div.appiconbox{
  float:left;
}

div.descriptionbox{
  float:left;
  margin-left:30px;
}

div.applybetabox>a{
  background:url(../images/icon_testflight.png) center top no-repeat;
  background-size: 64px 64px;
  display: block;
  padding-top: 80px;
  text-align: center;
  margin-top: 40px;
  font-size: 1.8em;
}

div.applybetabox{
  width:100%;
}

div.contactbox{
  width:200px;
  height: 84px;
  margin:32px auto 10px;
  margin-bottom: 60px;
}

a.sharetwitter{
  display:block;
  background:url(../images/icon_twitter.png) no-repeat center center;
  width:84px;
  height:84px;
  background-size: 84px 84px;
  float:left;
  -webkit-transition:transform 0.5s;
  transition: transform 0.5s;
}

a.sharemail{
  display:block;
  background:url(../images/icon_mail.png) no-repeat center center;
  width:84px;
  height:84px;
  background-size: 84px 84px;
  float:right;
  opacity: 1;
  -webkit-transition:transform 0.5s;
  transition: transform 0.5s;
}

a.sharemail:hover, a.sharetwitter:hover{
  -ms-transform: scale(0.92,0.92);
  -webkit-transform: scale(0.92,0.92);
  transform: scale(0.92,0.92);
}

@media screen and (max-width: 42em) {
  body{
    font-size:10px;
  }

  div.bigbox{
    position:relative;
    top:0;
    margin-top:42em;
  }

  div.containerbox{
    width:100%;
  }

  div.appiconbox{
    float: none;
  }

  div.appiconbox>img{
    margin:0 auto;
    display:block;
  }

  div.descriptionbox{
    margin-left:0;
    margin-right:0;
    margin-top:20px;
    width:100%;
    box-sizing:border-box;
    padding-left:24px;
    padding-right:24px;
  }

  div.descriptionbox>h1{
    text-align:center;

  }

  span.scene, span.ambience{
    float:none;
    text-align: left;
  }

  span.ambience{
    float:none;
  }

  span#and{
    float:none;
    margin-left:80px;
  }

  div.contactbox{
    padding-bottom:40px;
  }

  div#row2{
    margin-top:20px;
  }

  .t1{
    font-size: 1.6em;
  }
}